@import url('https://fonts.googleapis.com/css2?family=Tomorrow&display=swap');

:root {
    --glitched-duration: 0.8s;
    --glitched-long-duration: 3s;
    --background-color: rgba(3, 100, 30, 0.2);
    --border-color: #2d3523;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Tomorrow', Arial, sans-serif;
}

body {
    background: url('https://i.pinimg.com/originals/a9/68/0e/a9680e517bd3c6b8de6b231e383fd05f.jpg');
    background-position: center;
    position: relative;
    width: 100wh; 
    height: 100vh;
    text-align: center;
    overflow: hidden;
}

h1 {
    margin: 10px 0 50px 0;
    color: #fff;
    font-size: 24px;
}

.complete {
    opacity: 0.4;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.todo__overlay {
    width: 100wh;
    height: 100vh;
    background-color: rgba(0, 0, 0, .7);
}

.todo__app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.todo__container {
    font-family: 'Tomorrow', sans-serif;
    text-transform: uppercase;
    outline: transparent;
    letter-spacing: 2px;
    position: relative;
    font-weight: 700;
    border: 0;
    padding: 3rem 2rem;
    padding-top: 10px;
    width: 500px;
    line-height: 75px;
    transition: background 0.2s;    
}

.todo__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo__list {
    height: 250px;
    overflow-y: scroll;
}

.todo__list::-webkit-scrollbar {
    width: 5px;
}

.todo__list::-webkit-scrollbar-track {
    background-color: dark;
}

.todo__list::-webkit-scrollbar-thumb {
    background: rgba(3, 100, 30, 0.5);
    border-radius: 15px;
}

.btn-todo,
.btn-filter {
    display: block;
    border: none;
    border-radius: 0%;
    letter-spacing: 2px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 15px 20px;
    margin-left: 10px;
    position: relative;
    color: #fff;
    border-right: 3px solid rgba(3, 100, 30, 0.2);
    clip-path: polygon(
        -15px 0%,
        calc(100% + 15px) 0%,
        calc(100% + 15px) 100%,
        20px 100%,
        -15px calc(100% - 35px)
    );
    cursor: pointer;
    background-color: var(--background-color);
    outline: none;
    display: inline-block;
}

/* Todo Form */
.todo__text {
    width: 70%;
    padding: 30px 20px 15px 25px;
    text-align: left;
    overflow-x: scroll;
}

.todo__date {
    font-size: 10px;
    position: absolute;
    bottom: 10px;
    right: 60px;
}

.todo__text::-webkit-scrollbar {
    width: 1px;
}

.todo__text::-webkit-scrollbar-track {
    background-color: dark;
}

.todo__text::-webkit-scrollbar-thumb {
    background: rgba(3, 100, 30, 0.5);
    border-radius: 1px;
}

.filter {
    text-align: right;
    line-height: 68px;
}

.todo__row.complete .todo__text {
    text-decoration: line-through;    
}

.todo__form {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo__filter {
    margin-top: 3px;
}

.input-todo {
    width: 100%;
    clip-path: polygon(
        0px 25px,
        26px 0px,
        calc(60% - 25px) 0px,
        60% 15px,
        100% 15px,
        100% calc(100% - 10px),
        calc(100% - 15px) calc(100% - 10px),
        calc(80% - 10px) calc(100% - 10px),
        calc(80% - 15px) calc(100% - 0px),
        10px calc(100% - 0px),
        0% calc(100% - 10px)
    );
    margin-bottom: 10px;
    padding: 12px;
}

.todo__row {
    height: 70px;
    border-radius: 0%;
    font-size: 1rem;
    line-height: 0.5rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px;
    margin-right: 15px;
    position: relative;
    color: #fff;
    border-right: 3px solid var(--border-color);
    clip-path: polygon(
        -15px 0%,
        calc(100% + 15px) 0%,
        calc(100% + 15px) 100%,
        20px 100%,
        -15px calc(100% - 35px)
    );
    cursor: pointer;
    outline: none;
    display: flex;
    justify-content: space-between;
    background: var(--background-color);
    box-shadow: 0 0 2px #1ef242, 0 0 5px #1ef242;
    
}

.todo__row:first-child {
    margin-top: 0;
}

.todo__row:last-child {
    margin-bottom: 0;
}

.todo__row .todo-text {
    line-height: 40px;
    width: 100%;
    text-align: left;
}

/* Todo Modal */
.modal-todo h3 {
    margin: 10px 0;
}

.modal-todo {
    padding: 10px;
    margin: -2px 0;
    position: fixed;
    width: 450px;
    right: 50%;
    top: 30%;
    transform: translate(50%);
    color: #fff;
    background: rgba(0, 30, 30, 1);
    z-index: 100;
    transition: all .3s ease;
}

.modal-todo button {
    margin: 5px;
    height: 50px;
    vertical-align: middle;
    padding: 1rem;
    width: 47%;
    color: white;
    font-weight: bold;
    border: none;
    font-family: inherit;
    background: rgba(0, 0, 0, 0.5);
}

/* Icons */

.icons {
    display: flex;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
}

.delete-icon {
    margin-right: 5px;
    color: #fff;
}

.edit-icon {
    color: #fff;
}

/* Clock */
.todo__clock {
    font-size: 40px;
    color: #ffffff;
    text-shadow: 0 0 5px #ffffff;
    margin: 20px;

    animation-name: glitched;
    animation-duration: calc(var(--glitched-long-duration) * 0.87);
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

/* Observer */
.todo__observer {
    position: absolute;
    right: 70px;
    top: 77px;
    /* background-size: contain; */
    background-repeat: no-repeat;
    height: 50px;
    width: 30px;
    background-image: url(https://www.pngkey.com/png/full/138-1386387_fbi-walk-cycle-top-down-walk-cycle.png);
    background-position: -515px -67px;
}

@keyframes glitched {
    0% {
        transform: skew(-20deg);
        left: -4px;
    }
    10% {
        transform: skew(-20deg);
        left: -4px;
    }
    11% {
        transform: skew(0deg);
        left: 2px;
    }
    50% {
        transform: skew(0deg);
    }
    51% {
        transform: skew(10deg);
    }
    59% {
        transform: skew(10deg);
    }
    60% {
        transform: skew(0deg);
    }
    100% {
        transform: skew(0deg);
    }
}
