@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Anonymous Pro', Arial, sans-serif;
}

body {
    background: linear-gradient(
        90deg,
        rgb(11, 22, 94) 0%,
        rgb(47, 28, 47) 100%
    );
}

.todo-app {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 520px;
    min-height: 400px;
    background: linear-gradient(
        23deg,
        rgb(28, 28, 28) 0%,
        rgb(29 49 49) 100%
    );
    box-shadow: 26px 31px 73px 12px rgba(100, 0, 100, 0.2);
    -webkit-box-shadow: 26px 31px 73px 12px rgba(100, 0, 100, 0.2);
    -moz-box-shadow: 26px 31px 73px 12px rgba(100, 0, 100, 0.2);
    text-align: center;
    margin: 200px auto;
    border-radius: 10px;
    padding-bottom: 32px;
}

h1 {
    margin: 32px 0;
    color: #fff;
    font-size: 24px;
}

.complete {
    text-decoration: line-through;
    opacity: 0.4;
}

.todo-form {
    margin-bottom: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-input {
    font-size: 18px;
    padding: 14px 32px 14px 16px;
    border-radius: 4px 0 0 4px;
    border: 2px solid #1ef242;
    outline: none;
    width: 320px;
    background: transparent;
    color: #fff;
}

.todo-input::placeholder {
    color: #e2e2e2;
}

.todo-button {
    font-size: 20px;
    padding: 15px;
    height: 50px;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    outline: none;
    background: linear-gradient(
        90deg,
        rgb(133, 214, 27) 0%,
        rgb(0, 250, 77) 100%);
    color: #fff;
    text-transform: capitalize;
}

.todo-input.edit {
    border: 2px solid #149fff;
}

.todo-button.edit {
    background: linear-gradient(
        90deg,
        rgba(20, 159, 255, 1) 0%,
        rgba(17, 122, 255, 1) 100%
    );
    padding: 16px 22px;
}

.todo-wrapper {
    position: relative;
}

.todo-container {
    display: flex;
    flex-direction: row;
    position: relative;
}

.todo-row {
    font-size: 21px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px auto;
    color: #fff;
    background: linear-gradient(
        90deg,
        rgb(51 63 230) 0%,
        rgb(43 185 34) 100%);
    padding: 5px;
    border-radius: 5px;
    width: 90%;
}

.todo-row .todo-text {
    line-height: 40px;
    width: 100%;
    text-align: left;
}

.todo-row:nth-child(4n + 1) {
    background: linear-gradient(
        90deg,
        rgb(167 108 34) 0%,
        rgb(89 12 136) 100%
    );
}

.todo-row:nth-child(4n + 2) {
    background: linear-gradient(
        90deg,
        rgb(26 245 0 / 39%) 0%,
        rgb(222 166 108) 100%
    );
}

.todo-row:nth-child(4n + 3) {
    background: linear-gradient(
        90deg,
        rgb(129 149 162) 0%,
        rgb(33 15 51) 100%
    );
}

.icons {
    display: flex;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
}

.delete-icon {
    margin-right: 5px;
    color: #fff;
}

.edit-icon {
    color: #fff;
}

.todo-clock {
    position: absolute;
    top: 50px;
    right: 50%;
    transform: translate(50%);
    color: green;
    font-size: 70px;
    color: #ffffff;
    text-shadow: 0 0 5px #ffffff;
    font-family: monospace;
}

.todo-observer {
    position: absolute;
    right: 70px;
    top: 40px;
    /* background-size: contain; */
    background-repeat: no-repeat;
    height: 50px;
    width: 30px;
    background-image: url(https://www.pngkey.com/png/full/138-1386387_fbi-walk-cycle-top-down-walk-cycle.png);
    background-position: -515px -67px;
}

.facing-left {
    transform: scaleX(-1); 
}
